<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
        body{background: skyblue; font-family: verdana; color: #fff;}
        h1{font-size:50px;}
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome! Profile <%= person  %> </h1>
    <p>Jhinga Jhinga <%= data.age %> Jhinga <%= data.tat %> Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga </p>
    <h2>II</h2>
    <ul<
    <% data.dir.forEach(function(item) { %>
      <li> <%= item %> </li>
    <% }); %>

    </ul>
  </body>
</html>
