<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome! Profile <%= person  %> </h1>
    <p>Jhinga Jhinga <%= data.age %> Jhinga <%= data.tat %> Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga Jhinga </p>
    <h2>II</h2>
    <ul<
    <% data.dir.forEach(function(item) { %>
      <li> <%= item %> </li>
    <% }); %>

    </ul>
  </body>
</html>
