<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome! Profile <%= qs.f1  %> </h1>
    <p>Jhinga Jhinga <%= qs.f2 %> Jhinga  Jhing </p>
    <h2>II</h2>

  </body>
</html>
